/* line 9 */
body, p, ul, li, ol {
  margin: 0;
  outline: 0;
  padding: 0;
}

/* line 14 */
body {
  color: #666666;
  background-color: #eeeeee;
  font-family: "Helvetica Neue", Georgia, sans-serif;
  font-size: 100%;
  font-weight: 300;
}

/* line 22 */
a {
  color: #3a8be6;
  text-decoration: none;
}

/* line 26 */
a:hover, a:focus {
  text-decoration: underline;
}

/* line 30 */
p {
  margin: 10px 0;
  line-height: 1.4em;
  text-align: justify;
}

/* line 35 */
th {
  text-align: left;
  color: #eddd76;
  border-bottom: 1px solid #aaaaaa;
  background: #999999;
  background: -moz-linear-gradient(top, #999999 0%, #6f6f6f 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#6f6f6f));
}

/* line 43 */
th a {
  color: #eddd76;
}

/* line 46 */
#header_wrap {
  height: 80px;
  padding-left: 50px;
}

/* line 50 */
#body, #footer {
  margin: 0 auto;
  width: 920px;
}

/* line 54 */
#header {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #aaaaaa;
  background: #999999;
  background: -moz-linear-gradient(top, #999999 0%, #6f6f6f 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#6f6f6f));
}

/* line 62 */
#footer {
  clear: both;
  padding-top: 5em;
  font-size: 0.9em;
  font-weight: 300;
}

/* line 68 */
#footer hr {
  border-wdith: 0;
  border-top: 1px solid #aaaaaa;
  margin: 0 1em;
}

/* line 74 */
#footer p {
  margin: 1em;
  text-align: center;
  color: #666666;
}

/* line 79 */
#split {
  width: 100%;
  margin: 10px 0;
}

/* line 83 */
.left {
  float: left;
}

/* line 86 */
.right {
  float: right;
}

/* line 89 */
.slide {
  margin: 20px 60px 0 0;
  width: 410px;
}

/* line 93 */
.slide img,
.slide iframe,
.slide object {
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 15px 80px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 0 15px 80px rgba(0, 0, 0, 0.48);
}

/* line 104 */
.slide img:hover,
.slide iframe:hover,
.slide object:hover {
  -moz-transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
  -moz-box-shadow: 0 15px 80px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0 15px 80px rgba(0, 0, 0, 0.58);
}

/* line 112 */
.slide p {
  text-align: justify;
  padding: 0 2px;
  margin-top: 30px;
}

/* line 117 */
ul, li {
  list-style: square inside;
}

/* line 120 */
h2 {
  font-size: 2em;
  line-height: 0.5em;
  font-weight: 300;
  letter-spacing: -1px;
  text-shadow: 0px 2px 3px #cccccc;
}

/* line 127 */
li {
  font-family: "Helvetica Neue", Georgia, sans-serif;
  padding: 4px;
  margin: 4px 0 4px 14px;
}

/* line 133 */
ol li {
  margin: 12px 8px;
  padding: 0;
  list-style-type: upper-hexadecimal;
}

/* line 138 */
input {
  font-family: "Helvetica Neue", Georgia, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  color: #3a8be6;
  border: 2px solid #dddddd;
  padding: 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/* line 150 */
input[type="text"], input[type="password"] {
  height: 1em;
  width: 365px;
}

/* line 154 */
input[type="text"]:focus, input[type="password"]:focus, input[type="text"]:hover, input[type="password"]:hover {
  outline: none;
  border-color: #aaaaaa;
  box-shadow: 0 0 16px #aaaaaa;
  -webkit-box-shadow: 0 0 8px #aaaaaa;
  -webkit-transition: all 0.3s linear;
  -moz-box-shadow: 0 0 8px #aaaaaa;
  -moz-transition: all 0.3s linear;
}

/* line 163 */
input.regular {
  color: #666666;
  font-family: "Helvetica Neue", Georgia, sans-serif;
  font-size: 100%;
  font-weight: 300;
  padding: 2px;
}

/* line 171 */
label {
  cursor: pointer;
}

/* line 174 */
#form p:first-child {
  border-left: 2px solid white;
  padding: 0 0 0 10px;
  margin: 20px 10px 30px;
}

/* line 179 */
.sub {
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.6em;
}

/* line 185 */
button {
  font-family: "Helvetica Neue", Georgia, sans-serif;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  margin: 28px 0;
}

/* line 194 */
label.title {
  margin: 32px 0px 2px 0px;
  padding-left: 0;
  display: block;
  font-weight: 400;
}

/* line 200 */
label.tight {
  margin: 16px 0px 2px 0px;
  padding-left: 0;
  display: block;
  font-weight: 400;
}

/* line 206 */
label.title:first-child {
  margin-top: 28px;
}

/* line 209 */
.clear {
  clear: left;
}

/* line 212 */
.below-main {
  clear: both;
  padding-top: 5em;
  font-size: 0.9em;
}

/* line 217 */
.error {
  padding: 4px;
  background-color: #942c2c;
  color: #fefefe;
  border-radius: 6px;
}

/* line 223 */
.error p, .msg a, .msg div {
  margin-left: 18px;
  line-height: 1.4em;
  text-align: justify;
}

/* line 228 */
.msg {
  color: #3a8be6;
}

/* line 231 */
.msg_orange {
  padding: 4px;
  background-color: #eddd76;
  color: #3a8be6;
  border-radius: 6px;
  width: 100%;
}

/* line 238 */
.msg_orange a {
  text-decoration: underline;
}

/* line 241 */
.msg_green {
  padding: 4px;
  background-color: #00ee00;
  color: #3a8be6;
  border-radius: 6px;
  width: 100%;
}

/* line 248 */
.msg_red {
  padding: 4px;
  background-color: #942c2c;
  color: #fefefe;
  border-radius: 6px;
  width: 100%;
}

/* line 255 */
.awesome {
  background: #3a8be6 url(/alert-overlay.png) repeat-x;
  display: inline-block;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  font-size: 2em;
  padding: 8px 14px 9px;
}

/* line 271 */
.awesome:hover, .awesome:focus {
  outline: 0;
  background-color: #111111;
  color: white;
  -moz-transition: 0.4s all linear;
  -webkit-transition: 0.4s all linear;
}

/* line 278 */
.logo {
  display: block;
  width: 250px;
  height: 82px;
  background: url("/logo.png") bottom;
  text-indent: -99999px;
  float: left;
}

/* line 286 */
.logo:hover {
  background-position: 0 0;
}

/* line 289 */
.smaller {
  font-size: 1em;
  padding: 6px 10px 7px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: 14px 0px;
}

/* line 296 */
.center {
  text-align: center;
}

/* line 299 */
.hoverable:hover {
  background-color: #eddd76;
}

/* line 302 */
#header ul {
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e9e9e9));
  border: 1px solid #aaaaaa;
  background-color: #f0f0f0;
  border-radius: 0.5em;
  margin: 2em;
  padding: 2px 0px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  outline: 0;
  font-family: "Helvetica Neue", Verdana, Georgia, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #4f565d;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
  float: right;
}

/* line 320 */
#header ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  border-right: 1px solid #dedede;
  border-left: 1px solid #fefefe;
  height: 100%;
}

/* line 329 */
#header ul li a {
  display: block;
  padding: 0 0.75em;
  height: 100%;
  line-height: 2em;
  color: #666666;
  text-decoration: none;
  outline: 0;
}

/* line 338 */
.small-text {
  font-size: 0.9em;
}

/* line 341 */
.required {
  background-image: url("bullet_red.png");
  background-repeat: no-repeat;
  background-position: right;
}

/* line 346 */
#req_msg {
  background-position: left;
  color: #942c2c;
  padding-left: 15px;
  font-size: 0.75em;
  margin-top: 0.75em;
}

/* line 353 */
.faq {
  clear: both;
  width: 920px;
  border: 1px solid #dddddd;
  margin: 30px 30px 0px 0px;
  padding: 10px;
}

/* line 360 */
.faq h2 {
  font-size: 1.2em;
}

/* line 363 */
#bold {
  font-weight: bold;
}

/* line 367 */
.fixed-layout {
  table-layout: fixed;
}
